@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/yeseva-one');
body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body * {
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.button-light{
    background: #E3B873;
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.button-transparent{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(28,28,28,0)
}

.title1{
    font-weight: 400;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Yeseva One', sans-serif;
}



.header{
    background-color: #131313;   
}
    .header-content{
        display: flex;
        justify-content: space-between;
        height: 83px;
        align-items: center;
    }
        .logo{
            color: #E3B873;
            text-transform: uppercase;
            margin-right: 95px;
            min-width: 179px;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
        }
        .header-navigation{
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
            .header-navigation_item{
                margin-right: 47px;
            }
                .header-navigation_link{
                    text-decoration: none;
                    color: white;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 15px;
                }
                    .header-navigation_link:hover{
                        color: #E3B873;
                    }
        .number{
            min-width: 126px;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            text-align: right;
            text-decoration-line: underline;
            color: #E3B873;
            margin-left: 20px;
        }
        .request-a-call{
            padding: 13px 33px;
            margin-left: 45px;
            text-transform: uppercase;
            box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
        }
main{

}
    .img-hero{
        background-image: url('../images/image-hero.jpg');
        background-size: cover;
        height: 707px;
        padding-top: 194px;
        position: relative;
    }
        .content{
            position: relative;
            z-index: 1;
            padding-left: 42px;
        }
        .hero-overlay{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .7);
        }
            .first{
                margin: 0;
                font-weight: 400;
                font-size: 40px;
                line-height: 53px;
                max-width: 676px;
            }
                .subtitle1{
                    color: #E3B873;
                }
            .text1 p{
                font-weight: 400;
                font-size: 22px;
                line-height: 36px;
                color: #FFFFFF;
                margin-top: 16px;
            }
            .caculate-the-cost{
                min-height: 51px;
                min-width: 207px;
                box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
            }
            .submit-your-application{
                min-height: 51px;
                min-width: 207px;
                margin-left: 20px;
            }
    .completed-projects-and-online-control{
        position: relative;
    }
        .black-background{
            background-color: #131313;
            height: 1074px;
        }
        .completed-projects{
            
            padding-left: 42px;
            padding-right: 42px;
        }
            .completed-projects-navigation{
                display: flex;
                padding-top: 107px;
                list-style: none;
                min-width: 623px;
                max-width: 623px;
                justify-content: space-between;
            }
                .main-completed-projects-item{
                    font-family: 'Yeseva One', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.3);
                }
                    .selected{
                        padding-bottom: 6px;
                        border-bottom: 1px solid #E3B873;
                        color: #E3B873 !important;
                    }
            .pre-container-completed-projects{
                display: flex;
                justify-content: space-between;
            }
                .text-completed-projects{

                }
                    .title2{
                        font-family: 'Yeseva One';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 37px;
                        letter-spacing: -0.07em;
                        text-transform: uppercase;
                        color: #E3B873;
                        padding-top: 160px;
                        margin: 0px;
                    }
                    .text2{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 27px;
                        color: #FFFFFF;
                    }
                    .characteristics-completed-projects{
                        display: flex;
                        justify-content: space-between;
                        padding-top: 42px;
                        padding-bottom: 73px;
                    }
                        .characteristic{
                            
                        }
                            .characteristics2{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                            }
                                .title3{
                                    font-family: 'Yeseva One';
                                    font-weight: 400;
                                    font-size: 18px;
                                    line-height: 25px;
                                    text-transform: uppercase;
                                    color: #E3B873;
                                }
                                .text3{
                                    font-family: 'Nunito Sans';
                                    font-weight: 400;
                                    font-size: 13px;
                                    line-height: 21px;
                                    color: #FFFFFF;
                                }
                    .completed-projects-navigation-arrows{
                        max-width: 275px;
                        max-height: 13px;
                        display: flex;
                        justify-content: space-between;
                        }
                        .arrow{
                                        
                        }
                        .completed-projects-navigation-arrows-rectangles{
                            display: flex;
                            min-width: 83px;
                            justify-content: space-between;
                        }
                            .rectangle{
                                
                            }
                .completed-projects-navigation-and-img{

                }                
                    .completed-projects-navigation{
                        display: flex;
                        padding-top: 107px;
                        list-style: none;
                        min-width: 623px;
                        max-width: 623px;
                        justify-content: space-between;
                        }
                            .main-completed-projects-item{
                                font-family: 'Yeseva One', sans-serif;
                                font-weight: 400;
                                font-size: 14px;
                                line-height: 19px;
                                text-transform: uppercase;
                                color: rgba(255, 255, 255, 0.3);
                                }        
                    .img-completed-projects{
                        padding-top: 47px;
                    }
        .online-control{
            max-width: 1440px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }
            .second{
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                text-align: center;
                margin-top: 92px;
            }
            .online-control-videocamera-separator{
                display: flex;
                max-width: 160px;
                margin: 0 auto;
                justify-content: center;
            }
                .online-control-videocamera-separator1{
                    display: flex;
                }
                    .videocamera{
                        margin: auto 0;
                    }
                    .stick{
                        margin: auto 9px;
                    }
            .online-control-video{
                width: 817px;
                height: 434px;
                margin: 31px auto;
                background-image: url('../images/image-online_control.png');
                position: relative;
                z-index: 2;
                display: flex;
            }
                .black{
                    margin: 0;
                    z-index: 3;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.8);
                }
                .play{
                    margin: 0;
                    z-index: 4;
                    position: absolute;
                    background-image: none;
                    width: 168px;
                    right: 40%;
                }
            .paragrapf{
                
            }
                .paragrapf-stick{
                    
                    margin: 31px auto 34px auto;
                    width: 55px;
                }
                .text4{
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 37px;
                    text-align: center;
                    color: #363636;
                }
            .input{
                display: flex;
                flex-direction: row;
                width: 769px;
                justify-content: space-between;
            }
                .name-number-container{
                    display: flex;
                    flex-direction: column;
                    padding-top: 75px;
                    padding-bottom: 37px;
                    margin: 0;
                }
                    .Name{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 21px;
                        color: rgba(54, 54, 54, 0.5);
                    }
                    .input-name-and-number{
                        width: 231px;
                        border: none;
                        border-bottom: 1px solid rgba(54, 54, 54, 0.3);
                        outline: none;
                    }
                    input::placeholder{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 23px;
                        color: #363636;
                    }
                    .submit{
                        width: 200px;
                        height: 51px;
                        font-style: normal;
                        padding: 0;
                        margin-top: 73px;
                    }
            .first-checkbox{
                margin: 0 auto;
            }
                    .label {
                        cursor: pointer;
                    }
                        .checkbox{
                            display: none;
                        }
                        .fake{
                            display: inline-flex;
                            width: 18px;
                            height: 18px;
                            background: #E3B873;
                            color: #fff;
                            justify-content: center;
                        }
                            .fake::before{
                                content:"\2714";
                                opacity: 0;
                                transition: .2s;
                                font-size: small;
                            }
                            .checkbox:checked + .fake::before{
                                opacity: 1;
                            }
