@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@0;1&display=swap');
@import url('https://fonts.cdnfonts.com/css/yeseva-one');
body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
body * {
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: auto;
}
.button-light{
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    outline: 0;
    border: 0;
    color: white;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.button-transparent{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(28,28,28,0)
}
.header{
    background-color: #131313;   
}
    .header-content{
        display: flex;
        justify-content: space-between;
        height: 83px;
        align-items: center;
    }
        .logo{
            color: #E3B873;
            text-transform: uppercase;
            margin-right: 95px;
            min-width: 179px;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
        }
        .header-navigation{
            list-style: none;
            display: flex;
            justify-content: space-between;
        }
            .header-navigation_item{
                margin-right: 47px;
            }
                .header-navigation_link{
                    text-decoration: none;
                    color: white;
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 15px;
                }
                    .header-navigation_link:hover{
                        color: #E3B873;
                    }
        .number{
            min-width: 126px;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            text-align: right;
            text-decoration-line: underline;
            color: #E3B873;
            margin-left: 20px;
        }
        .request-a-call{
            padding: 13px 33px;
            margin-left: 45px;
            text-transform: uppercase;
        }
main{

}
    .img-hero{
        background-image: url('../images/image-hero.jpg');
        background-size: cover;
        height: 707px;
        padding-top: 194px;
        position: relative;
    }
        .img-hero-content{
            position: relative;
            z-index: 1;
            padding-left: 42px;
        }
        .hero-overlay{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .7);
        }
            .title1{
                margin: 0;
                font-weight: 400;
                font-size: 40px;
                line-height: 53px;
                text-transform: uppercase;
                color: #FFFFFF;
                font-family: 'Yeseva One', sans-serif;
                max-width: 676px;
            }
                .subtitle1{
                    color: #E3B873;
                }
            .text1 p{
                font-weight: 400;
                font-size: 22px;
                line-height: 36px;
                color: #FFFFFF;
                margin-top: 16px;
            }
            .caculate-the-cost{
                min-height: 51px;
                min-width: 207px;
            }
            .submit-your-application{
                min-height: 51px;
                min-width: 207px;
                margin-left: 20px;
            }
    .completed-projects-and-online-control{
        position: relative;
    }
        .black-background{
            background-color: #131313;
            height: 1074px;
        }
        .completed-projects{
            height: 552px;
            padding-left: 42px;
            padding-right: 42px;
        }
            .completed-projects-navigation{
                display: flex;
                
                padding-top: 107px;
                list-style: none;
                min-width: 623px;
                max-width: 623px;
                margin-left: 492px;
                justify-content: space-between;
            }
                .main-completed-projects-item{
                    font-family: 'Yeseva One', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 19px;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.3);
                }
            .pre-container-completed-projects{
                display: flex;
                justify-content: space-between;
            }
                .text-completed-projects{

                }
                    .title2{
                        font-family: 'Yeseva One';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 27px;
                        line-height: 37px;
                        letter-spacing: -0.07em;
                        text-transform: uppercase;
                        color: #E3B873;
                        padding-top: 53px;
                        margin: 0px;
                    }
                    .text2 p{
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 27px;
                        color: #FFFFFF;
                    }
                .img-completed-projects{
                    padding-top: 53px;
                }